.landing_slider .slider-item img{
    height: 600px;
}
.btn-order {
    background-color: #018241;
    color: white;
    border-radius: 40px;
    padding: 12px 40px;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid white !important;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 84%) !important;
}
.btn-order:hover {
    background-color: #018241;
    color: white;
    border-radius: 40px;
    padding: 12px 40px;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid white !important;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 84%) !important;
}

.faq-header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.accordion {
    border-top: 1px solid #fff;
}

.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.accordion-button {
    background-color: transparent !important;
    /* Force remove bg */
    color: white !important;
    font-weight: bold;
    padding: 15px;
    box-shadow: none;
    display: flex;
    align-items: center;
    border: none;
}

.accordion-button::after {
    display: none !important;
}

.accordion-button .faq-icon {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.accordion-button.collapsed .faq-icon {
    transform: rotate(0deg);
}

.accordion-button:not(.collapsed) .faq-icon {
    transform: rotate(90deg);
}

.accordion-body {
    background-color: transparent;
    color: white;
    padding: 15px 20px 25px 20px;
    font-size: 16px;
}
.pricing-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 35px 15px 35px 15px;
    margin-bottom: 25px;
    height: 100%;
}

.pricing-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.pricing-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* order */
.form-control::placeholder {
    font-size: 14px;
}

.order-summary {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
}

.product-img {
    width: 50px;
    height: auto;
}

.place-order-btn {
    background-color: #098d44;
    color: white;
    font-weight: bold;
    border-radius: 35px;
    padding: 12px 20px;
    font-size: 16px;
    width: 100%;
}

.place-order-btn i {
    margin-right: 8px;
}
/* package */
.package-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.package-card:hover {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.package-label {
    font-weight: bold;
    font-size: 16px;
}

.ribbon {
    position: absolute;
    top: -1px;
    right: -1px;
    background: #fd7e14;
    color: white;
    font-size: 12px;
    padding: 3px 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
}

.ribbon-free {
    background: #dc3545;
}

.form-check-input {
    margin-top: 8px;
}

.price {
    font-size: 1.2rem;
    font-weight: 500;
}

.delivery-badge {
    display: inline-block;
    padding: 4px 10px;
    background-color: #f5f5f5;
    color: #000;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-weight: 500;
}

.form-check-label {
    cursor: pointer;
}

input[type="radio"]:checked+.form-check-label .package-card {
    border-color: #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.5);
}
.landing_youtube{
    height: 500px;
    border-radius: 10px;
}
@media only screen and (min-width:320px) and (max-width:991px) {
    .landing_slider .slider-item img {
        height: 200px;
    }
    .pricing_mobile_margin{
        margin: 15px 0;
    }
    .landing_youtube {
        height: 200px;
        border-radius: 10px;
    }
}
